#wrapper{
	position: relative;
	width: 100%;
	box-sizing: border-box;
	height: 100vh;
	display: inline-block;
	top: 500%;
	left: 33%;
	max-width: 1040px;
	min-width: 320px;
	margin: auto;

}

#a1{
	position: absolute;
	width: 15%;
	height: 22%;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	top: 4%;
	left: 1%;
	
}

#a2{
	position: absolute;
	width: 15%;
	height: 22%;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	top: 4%;
	left: 16%;
	
}

#a3{
	position: absolute;
	width: 15%;
	height: 22%;
	border-bottom: 5px solid black;
	top: 4%;
	left: 31%;
}

#b1{
	position: absolute;
	width: 15%;
	height: 22%;
	border-right: 5px solid black;
	border-bottom: 5px solid black;
	top: 26.5%;
	left: 1%;

}

#b2{
	position: absolute;
	width: 15%;
	height: 22%;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	top: 26.5%;
	left: 16%;
}

#b3{
	position: absolute;
	width: 15%;
	height: 22%;
	top: 26.5%;
	left: 31%;
	border-bottom: 5px solid black;
}

#c1{
	position: absolute;
	width: 15%;
	height: 20%;
	border-right: 5px solid black;
	top: 49%;
	left: 1%;
}

#c2{
	position: absolute;
	width: 15%;
	height: 20%;
	border-right: 5px solid black;
	top: 49%;
	left: 16%;
}

#c3{
	position: absolute;
	width: 15%;
	height: 20%;
	top: 49%;
	left: 31%;
}


#game-header{
	font-size: 30px;
	font-weight: bold;
	background-color: green;
	color: white;
	border-radius: 10px;
	width: 40%;
	text-align: center;
	margin: 0 auto 25px;
	margin-top: 3%;
	margin-bottom: 3%;
}

.squares{
	font-size: 100px;
	text-align: center;
	pointer-events: none;
}

#game-header.player2{
	background-color: blue;
}

#game-header.red{
	background-color: yellow;
	color: black;
	border: 10px solid red;
}

#grid{
	text-align: center;
}

.winner{
	background-color: yellow;
}

.num-players{
	margin: 0px auto;
	width: 60%;
	position: relative;
	left: -27%;
	padding-bottom: 10px;
	
}

.num-players button{
	color: white;
	width: 120px;
	padding: 0px 5px;
	background-color: black;
	font-size: 18px;
	border-radius: 10px;
}